IANA Considerations with no actions

Section 4.8.3 says, "The RFC Editor will remove an IANA Considerations section that says there are no IANA considerations (although such a section is required in the Internet-Draft preceding the RFC)." However, as documented in RFC 8126, Section 9.1, IANA now prefers that the section remain in place (unless the authors strongly prefer otherwise), as it can often be useful to have confirmation that no actions were performed/required. 

RFC 8126 recommends the phrase "This document has no IANA actions."